//primary colors
$color-primary: #2196F3;
$color-primary-dark: #1976D2;
$color-primary-light: #BBDEFB;

//general colors
$color-icon: #FFFFFF; //color for general icons
$color-accent: #FF4081; //used to highlight stuff
$color-divider: #BDBDBD;

//texts
$color-text-light: #FFFFFF;
$color-text-primary: #212121;
$color-text-secondary: #757575;
