@import "../../assets/css/palette.scss";

.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color-primary-dark;
    height: 100vh;
    h1{
        font-weight: bold;
        padding: 40px 0;
        font-size: 90px;
        color: $color-text-light;
        letter-spacing: 5px;
    }
    .login-form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 22%;
        border: $color-divider solid 2px;
        border-radius: 9px;
        padding: 30px 0;
        background-color: #fff;
        :not(:first-child){
            margin-top: 30px;
        }

        input{
            height: 40px;
            padding: 15px;
        }
        button{
            font-family: "Roboto";
            color: $color-text-light;
            background-color: $color-accent;
            padding: 20px 0;
            transform: scale(1);
            transition: transform 0.2s;
            &:hover{
                cursor: pointer;
                transform: scale(1.05);
            }
        }
        input,button{
            box-sizing: border-box;
            width: 90%;
            border-radius: 5px;
            border-width: 1px;
            font-size: 20px;
        }

    }
}