@import "../../assets/css/palette.scss";

.homepage{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1{
        font-size: 55px;
        text-align: center;
        color: $color-text-primary;
    }
    .piechart{
        padding-top: 40px;
        
    }
}